{
    "version": 1,
    "key": "core.config",
    "data": {
        "latitude": 51.0113889,
        "longitude": 17.1613889,
        "elevation": 120,
        "unit_system": "metric",
        "location_name": "Dom",
        "time_zone": "Europe/Warsaw",
        "external_url": null,
        "internal_url": "http://192.168.100.101:8123"
    }
}