deps/
deps/adodbapi/adodbapi.py
custom_components/light/__pycache__/modbus.cpython-35.pyc
deps/adodbapi/ado_consts.py
deps/adodbapi/examples/db_print.py
custom_components/light/__pycache__/modbus.cpython-35.pyc
home-assistant.log
*.db
custom_components/light/__pycache__/modbus.cpython-35.pyc
home-assistant_v2.db
home-assistant.log
custom_components/sensor/__pycache__/modbushas.cpython-35.pyc
skrot.txt
start - nogui - Shortcut.lnk
stderr.log
start - nogui.bat
stdout.log
.HA_VERSION
